@CHARSET "UTF-8";
table {
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

td, th {
    border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

tr:nth-child(even) {
    background-color: #7FFFD4;
}
tr:nth-child(odd) {
    background-color: #b3ffe6
;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
#searchInput {
  background-image: url('../resources/iconSearch.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
a { 
    color: blue;
}